/* Coolors Exported Palette - coolors.co/a1f556-3b60e4-e0dfd5-e82a27-efa80e */

/* HSL */
$color1: hsla(92%, 89%, 65%, 1);
$color2: hsla(227%, 76%, 56%, 1);
$color3: hsla(55%, 15%, 86%, 1);
$color4: hsla(1%, 81%, 53%, 1);
$color5: hsla(41%, 89%, 50%, 1);

/* RGB */
$color1: rgba(161, 245, 86, 1);
$color2: rgba(59, 96, 228, 1);
$color3: rgba(224, 223, 213, 1);
$color4: rgba(232, 42, 39, 1);
$color5: rgba(239, 168, 14, 1);

